<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
        </head>
<body>
    <div>
        <h1>Witam na stronie bloga</h1>
        <h2>jhllkh</h2>
        <em>emfaza</em><br>
    </div>
    <div>
        <strong>strong</strong>
        <a href="https://onet.pl">link</a>
    </div>
    <div>
        <ul>
            <li>element</li>
            <li>element</li>
            <li>element</li>
        </ul>
    </div>

</body>
</html>